/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

$darkGreen: #2d6a4f;
$midGreen: #52b788;
$lightGreen: #95d5b2;
$borderGrey: rgb(217, 220, 218);