.score-table {
    min-width: 100px;
    overflow-x: scroll;
  }
  table {
    margin: 4rem 2rem;
    
    font-size: 1.2em;
  }
  th, td {
    min-width: 3rem;
    text-align: center;
    padding: .5rem .8rem;
    
    .score-input{
      max-width: 2.5rem
    }
  }