<div *ngFor="let player of players">
    <p>{{player.name}}</p>
</div>
<div *ngIf="frontNine" class="course-table front-nine">
    <table mat-table [dataSource]="frontNine" class="mat-elevation-z8">
        Hole Number Column
        <ng-container matColumnDef="Hole">
            <th mat-header-cell *matHeaderCellDef> Hole </th>
            <td mat-cell *matCellDef="let hole"> {{hole.id}} </td>
            <td mat-footer-cell *matFooterCellDef> Out </td>
        </ng-container>

        Yards Column
        <ng-container matColumnDef="Yards">
            <th mat-header-cell *matHeaderCellDef> Yards </th>
            <td mat-cell *matCellDef="let hole"> {{hole.yards}} </td>
            <td mat-footer-cell *matFooterCellDef> yards out </td>
        </ng-container>

        Par Columns
        <ng-container matColumnDef="Par">
            <th mat-header-cell *matHeaderCellDef> Par </th>
            <td mat-cell *matCellDef="let hole"> {{hole.par}} </td>
            <td mat-footer-cell *matFooterCellDef> par out </td>
        </ng-container>

        Handicap Columns
        <ng-container matColumnDef="Handicap">
            <th mat-header-cell *matHeaderCellDef> Handicap </th>
            <td mat-cell *matCellDef="let hole"> {{hole.handicap}} </td>
            <td mat-footer-cell *matFooterCellDef> handicap out </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>
    </table>
</div>

<div *ngIf="backNine" class="course-table back-nine">
    <table mat-table [dataSource]="backNine" class="mat-elevation-z8">
        Hole Number Column
        <ng-container matColumnDef="Hole">
            <th mat-header-cell *matHeaderCellDef> Hole </th>
            <td mat-cell *matCellDef="let hole"> {{hole.id}} </td>
            <td mat-footer-cell *matFooterCellDef> In </td>
            <!-- <td mat-footer-cell *matFooterCellDef> Total </td> -->
        </ng-container>

        Yards Column
        <ng-container matColumnDef="Yards">
            <th mat-header-cell *matHeaderCellDef> Yards </th>
            <td mat-cell *matCellDef="let hole"> {{hole.yards}} </td>
            <td mat-footer-cell *matFooterCellDef> yards in </td>
            <!-- <td mat-footer-cell *matFooterCellDef> yards total </td> -->
        </ng-container>

        Par Columns
        <ng-container matColumnDef="Par">
            <th mat-header-cell *matHeaderCellDef> Par </th>
            <td mat-cell *matCellDef="let hole"> {{hole.par}} </td>
            <td mat-footer-cell *matFooterCellDef> par in </td>
            <!-- <td mat-footer-cell *matFooterCellDef> par total </td> -->
        </ng-container>

        Handicap Columns
        <ng-container matColumnDef="Handicap">
            <th mat-header-cell *matHeaderCellDef> Handicap </th>
            <td mat-cell *matCellDef="let hole"> {{hole.handicap}} </td>
            <td mat-footer-cell *matFooterCellDef> handicap in </td>
            <!-- <td mat-footer-cell *matFooterCellDef> handicap total </td> -->
        </ng-container>
        <ng-container matColumnDef="total">
            <td mat-footer-cell *matFooterCellDef>Total</td>
        </ng-container>
        <ng-container matColumnDef="Yards Total">
            <td mat-footer-cell *matFooterCellDef>Yards Total</td>
        </ng-container>
        <ng-container matColumnDef="Par Total">
            <td mat-footer-cell *matFooterCellDef>Par Total</td>
        </ng-container>
        <ng-container matColumnDef="Handicap Total">
            <td mat-footer-cell *matFooterCellDef>Handicap Total</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>
        <tr mat-footer-row *matFooterRowDef="['total', 'Yards Total', 'Par Total', 'Handicap Total']"></tr>
    </table>
</div>